.contact-content {
  height: 80vh;
  margin-top: 25px;
  margin-left: 50px;
  padding: 1px;
  position: relative;
  background-size: cover;
  overflow: hidden;
}
.contact-content::after {
  content: "";
  background-image: url(../img/11.svg);
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.2;
  border-radius: 12px;
  z-index: -1;
}
.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  margin-top: 30px;
}
.contact-form {
  position: absolute;
  top: 12%;
  width: 54%;
  height: 80vh;
}
